.DS_Store

# Node.js dependencies
node_modules/

# Cypress specific
cypress/screenshots/
cypress/videos/
cypress/downloads/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

### Node Patch ###
# Serverless Webpack directories
.webpack/

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# Idea IDE
# IntelliJ IDEA files
# Ignore everything in the folder .idea except .idea/externalDependencies.xml
**/.idea/*
!**/.idea/externalDependencies.xml
*.iml
*.iws
*.ipr

# SonarQube
.scannerwork/
